body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

h1 {
    margin: 0;
}

.large-word {
    font-size: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.button {
    background-color: #fffb00;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 100px;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;    
}
.about .button {
    display: inline-block;
    margin: 20px 0; 
}


.about, .services, .additional-info, .gallery, .more-services {
    padding: 20px;
    text-align: center;
    
    
}

.services-container, .gallery-container, .more-services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item, .gallery-item, .more-service-item {
    margin: 20px;
    flex: 1;
    max-width: 200px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
